* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/face.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.8125rem;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  height: 5vh;
  width: 11vw;
  cursor: pointer;
}

span {
  color: red;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.625rem 1.5625rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5rem;
}

nav ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}

.content {
  position: relative;
  top: 50%;
  left: 8%;
  width: 40rem;
}

h1 {
  color: white;
  margin: 1.25rem 0 1.25rem;
  font-size: 4.6875rem;
}

h3 {
  color: white;
  font-size: 1.5625rem;
  margin-bottom: 3.125rem;
}
h4{
  color: white;
}

.about {
  width: 100%;
  padding: 6.25rem 0;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 26.875rem;
}

.about-text {
  width: 34.375rem;
}

.main {
  width: 70.625rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 4.6875rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}

.about-text h5 {
  color: white;
  letter-spacing: 0.125rem; 
  font-size: 1.375rem;
  margin-bottom: 1.5625rem;
  text-transform: capitalize;
}

.about-text p {
  color: rgba(255, 204, 255, 0.8);
  letter-spacing: 0.0625rem;
  line-height: 1.75rem; 
  font-size: 1.125rem;
  margin-bottom: 2.8125rem;
}

button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.8125rem 1.875rem;
  border-radius: 1.875rem;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
}

.bomb {
  background: #101010;
  width: 100%;
  padding: 6.25rem 0; 
  text-align: center;
  color: white;
}

.title h2 {
  color: white;
  font-size: 4.6875rem; 
  width: 70.625rem; 
  margin: 1.875rem auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
}

.card {
  height: 22.8125rem; 
  width: 20.9375rem; 
  padding: 1.25rem 2.1875rem; 
  background: #191919;
  border-radius: 1.25rem; 
  margin: 0.9375rem; 
  position: relative;
  overflow: hidden;
  text-align: center;
}

h5 {
  color: white;
  font-size: 1.4375rem; 
  margin-bottom: 0.9375rem; 
}

.pra p {
  color: rgba(255, 204, 255, 0.8);
  font-size: 1rem; 
  line-height: 1.6875rem;
  margin-bottom: 1.5625rem;
}

.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 0.8125rem 1.875rem; 
  border-radius: 1.875rem;
  transition: 0.4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

.timer {
  font-size: 2.5rem; 
  margin-top: 1.25rem; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  position: relative;
  width: 100%;
  height: 16rem;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-block: 1rem;
}

footer p:nth-child(1) {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.25rem; 
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 1.0625rem;
  width: 31.25rem; 
  text-align: center;
  line-height: 1.625rem;
}

.end {
  color: #f9004d;
  bottom: 2.1875rem; 
  font-size: 0.875rem;
  display: flex;
  
}


.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  height: 5rem;
}

.carousel-inner {
  display: flex;
  transition: transform 10s ease-in-out ; 
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: block;
}

.carousel-item.active {
  display: block;
}
